@import "tailwindcss";

/* You can add global styles to this file, and also import other style files */
body {
  @apply bg-gray-100;
}


@layer base {
  code {
    @apply bg-red-100 text-red-500 font-medium text-sm  px-3 rounded inline-block font-mono;
  }
}

@layer components {
  .topic-header {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded mb-4;
  }
  .topic-box {
    @apply bg-white p-6 rounded-lg shadow-md border border-gray-200 mb-5;
  }
  .topic-code {
    @apply bg-gray-800 text-green-400 font-mono text-sm p-4 rounded block;
  }
}